<div class="budge-status-main">
      <div class="conwithshadows budget-item item-income">
            <h2>Income</h2>
            <span>RS 35000</span>

      </div>
      <div class="conwithshadows budget-item item-expenses">
            <h2>Expenses</h2>
            <span>RS 15000</span>
      </div>
      <div class="conwithshadows budget-item item-month">
            <h2>Month</h2>
            <span>June</span>
      </div>
      <div class="conwithshadows budget-item item-year">
            <h2>Year</h2>
            <span>2023</span>
      </div>
      <div></div>
      <div class="filters conwithshadows">
            <div class="filters-item filter"></div>
            <div class="filters-item search"></div>
      </div>
</div>
